body{
font-family:Arial;
background:#f2f5ff;
text-align:center;
}

h1{
color:#334;
}

.controls{
margin:20px;
}

button{
padding:10px;
background:#6c8ef5;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

#network{
width:800px;
height:400px;
border:2px solid #ccc;
margin:auto;
background:white;
border-radius:10px;
}

#status{
margin-top:20px;
font-size:18px;
}